:root {
  --color-bg-default: #020409;
  --color-bg-lighter: #121722;
  --color-bg-light: #1e2638;
  --color-fg-default: #cccccc;
  --color-canvas-default: #0d1117;
  --color-border-default: #30363d;
  --color-accent: #238636;
  --std-padding-horizontal: 1em;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--color-fg-default);
  background-color: var(--color-bg-default);
  padding-bottom: 10em;
  font-size: 90%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2 {
  font-style: italic;
  text-shadow: 1px 1px #00000030;
  font-size: 1.6em;
}

.horizonal-divider {
  height: 1px;
  background-color: var(--color-fg-default);
  margin-top: 0.4em;
  margin-bottom: 0.6em;
  opacity: 0.9;
}

.container {
  padding: 10;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 15em;
  background-color: var(--color-bg-lighter);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
}

.description {
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.title-container {
  margin: auto;
  z-index: 1;
  position: relative;
}

.content {
  position: relative;
  margin: auto;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: min(10vw, 50px);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table.tickets-list th {
  background-color: var(--color-bg-light)
}

table.tickets-list>tbody>tr:nth-of-type(odd) {
  background-color: var(--color-bg-lighter)
}

table.tickets-list>tbody>tr>td:last-child,
table.tickets-list>thead>tr>th:last-child {
  padding-right: 1em;
  padding-left: 1em;
  text-align: right;
  width: 27%;
}

table.tickets-list>tbody>tr>td:nth-child(2),
table.tickets-list>thead>tr>th:nth-child(2) {
  text-align: right;
  width: 17%;
}

table.tickets-list td,
table.tickets-list th {
  min-height: 2.5em;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

table.tickets-list .sized-table-column {
  text-align: right;
}

#calculatorResultTable th:first-child {
  padding-left: 1em;
}

#calculatorResultTable>tbody>tr>td:first-child {
  padding-left: 0.7em;
}

#calculatorResultTable>tbody>tr>td:last-child,
#calculatorResultTable>tbody>tr>th:last-child {
  padding-right: 1em;
}

#ticketsTable th:first-child,
#ticketsTable td:first-child {
  padding-left: 1em;
}

#ticketsTable th:last-child,
#ticketsTable td:last-child {
  padding-right: 1em;
}

#calculator .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.6em;
}

#calculator .column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.calculator_input_item {
  margin-bottom: 1em;
  margin-top: 0.2em;
}

.calculator_input_item_field {
  width: 4.5em;
  padding: 5px 12px;
  line-height: 24px;
  font-size: 15px;

  background-color: var(--color-canvas-default);
  border: 1px solid var(--color-border-default);
  color: var(--color-fg-default);
  vertical-align: middle;
  border-radius: 6px;
  margin-right: 0.4em;
  margin-left: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.canvas {
  width: 99%;
  margin-top: min(4em, 6vw);
  display: inline-block;
  border-radius: 6px;
  border: 1px solid var(--color-border-default);
  background-color: var(--color-canvas-default);
}

.radio-button {
  margin-bottom: 0.5em;
}

span {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.optionDescription {
  display: flex;
  flex-direction: column;
}

.horizontal-padding {
  padding-left: var(--std-padding-horizontal);
  padding-right: var(--std-padding-horizontal);
}

.note {
  font-style: italic;
}

#calculatorResultTable {
  margin-top: 1em;
}

#best-option {
  overflow: clip;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  font-size: 1.1em;
  background-color: var(--color-accent);
  margin-top: 1em;
  padding-bottom: 1em;
}

#best-option-title {
  padding: 0.4em 0.8em;
  background-color: #124c1e;
  width: 100%;
  line-height: 40px;
}

button {
  border-radius: 6px;
}

#button-show-remaining-options {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#remaining-options {
  display: none;
}

#remaining-options-title {
  margin-top: 1.5em;
}


#best-option-total-price-container {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

table.option-description-table td {
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

table.option-description-table td:nth-child(1) {
  width: 0.1%;
  padding-right: 0.15em;
}

table.option-description-table td:nth-child(2) {
  width: 0.1%;
  white-space: nowrap;
  min-width: 1em;
  text-align: right;
}

table.option-description-table td:nth-child(3) {
  padding-left: 0.3em;
}

.scrollable-table-wrapper {
  overflow-x: auto;
}

#bestOptionTable {
  max-width: 18em;
}