.Famous {
	FONT-SIZE: 9px; COLOR: #00ff00; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.famousCurve {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #0033cc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.score {
	FONT-WEIGHT: bold; FONT-SIZE: x-large; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
